/*

# Folders
!.config
!.scripts
!.external
!.calcurse

# Files
!.bash_profile
!.bashrc
!.gitignore
!.gtkrc-2.0
!.inputrc
!.profile
!.tmux.conf
!.vimrc
!.urlview
!.xinitrc
!.xxkbrc
!.Xresources

# Config folders
.config/*
!.config/dunst
!.config/fontconfig
!.config/gtk-3.0
!.config/i3
!.config/i3blocks
!.config/mpd
!.config/mpv
!.config/ncmpcpp
!.config/newsboat
!.config/qutebrowser
!.config/ranger
!.config/redshift
!.config/termite
!.config/youtube-viewer
!.config/zathura

# Calcurse folder
.calcurse/*
!.calcurse/conf
!.calcurse/keys

# Mpv folder
.config/mpv/*
!.config/mpv/*.conf

# Qutebrowser folder
.config/qutebrowser/*
!.config/qutebrowser/config.py

# Newsboat folder
.config/newsboat/*
!.config/newsboat/config

# Fontconfig folder
.config/fontconfig/*
!.config/fontconfig/fonts.conf

# Extensions
*.bak
*.backup*
*.log
*.db
