/*

# Folders
!.config
!.scripts
!.external
!.calcurse
!.local

# Files
!.bash_profile
!.bashrc
!.gitignore
!.gtkrc-2.0
!.inputrc
!.tmux.conf
!.xinitrc
!.Xresources

# Local folder
.local/*
!.local/share/
.local/share/*
!.local/share/applications/

# Config folders
.config/*
!.config/dunst
!.config/fontconfig
!.config/gtk-3.0
!.config/i3
!.config/i3blocks
!.config/mpd
!.config/mpv
!.config/ncmpcpp
!.config/newsboat
!.config/nvim
!.config/qutebrowser
!.config/ranger
!.config/redshift
!.config/sxiv
!.config/urlscan
!.config/youtube-viewer
!.config/zathura

# Config files
!.config/compton.conf
!.config/mimeapps.list

# Calcurse folder
.calcurse/*
!.calcurse/conf
!.calcurse/keys

# Mpv folder
.config/mpv/*
!.config/mpv/*.conf

# Qutebrowser folder
.config/qutebrowser/*
!.config/qutebrowser/config.py

# Newsboat folder
.config/newsboat/*
!.config/newsboat/config

# Fontconfig folder
.config/fontconfig/*
!.config/fontconfig/fonts.conf

# Neovim folder
.config/nvim/*
!.config/nvim/init.vim
