/*

# Folders
!.config
!.scripts
!.local

# Files
!.profile
!.bashrc
!.gitignore
!.gtkrc-2.0
!.inputrc
!.Rprofile
!.scimrc
!.tmux.conf
!.xinitrc
!.xprofile
!.Xresources

# Local folder
.local/*
## share
!.local/share
.local/share/*
!.local/share/applications
!.local/share/external
## bin
!.local/bin
.local/bin/*
!.local/bin/vifmrun

# Config folders
.config/*
!.config/calcurse
!.config/dunst
!.config/fontconfig
!.config/gtk-3.0
!.config/i3
!.config/i3blocks
!.config/mpd
!.config/mpv
!.config/mutt
!.config/ncmpcpp
!.config/newsboat
!.config/nvim
!.config/qutebrowser
!.config/redshift
!.config/sxiv
!.config/sxhkd
!.config/transmission-daemon
!.config/vifm
!.config/urlscan
!.config/youtube-viewer
!.config/zathura

# Config files
!.config/compton.conf
!.config/mimeapps.list

# Calcurse folder
.config/calcurse/*
!.config/calcurse/conf
!.config/calcurse/keys

# Mpv folder
.config/mpv/*
!.config/mpv/*.conf

# Qutebrowser folder
.config/qutebrowser/*
!.config/qutebrowser/config.py

# Newsboat folder
.config/newsboat/*
!.config/newsboat/config

# Fontconfig folder
.config/fontconfig/*
!.config/fontconfig/fonts.conf

# Neovim folder
.config/nvim/*
!.config/nvim/init.vim

# Transmission folder
.config/transmission-daemon/*
!.config/transmission-daemon/settings.json

# Vifm folder
.config/vifm/*
!.config/vifm/vifmrc
!.config/vifm/colors
!.config/vifm/scripts
.config/vifm/scripts/*
!.config/vifm/scripts/vifmimg
!.config/vifm/scripts/previewer
