[Unit]
Description=i3mpdupdate starter
Required=mpd.service
After=mpd.service

[Service]
ExecStart=/home/george/.scripts/i3mpdupdate
Restart=always
RestartSec=10s

[Install]
WantedBy=default.target
